@tailwind base;
@tailwind components;
@tailwind utilities;

/* To desable z-index on the map */
#app .leaflet-pane,
.leaflet-control-container * {
  z-index: 0;
}

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-BoldItalic.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;
    font-display: block;
    src: local('Open Sans'),
      url(../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Italic.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Light.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  }

  @font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
    font-display: block;
    src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf);
  }
}
